{% load static tailwind_tags %}
{% tailwind_css %}
{% load tailwind_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Register</title>
</head>
<body class="text-center flex flex-col items-center justify-center bg-[url('/static/img/book_reading.png')] bg-cover  ">
    <section class="bg-blue-100 items-center flex flex-col justify-center  gap-5 fixed rounded-3xl px-5 py-10 w-[25%] ">
        <h1 class="font-serif font-semibold text-4xl mb-4 mt-4 flex-auto"><a href="{% url 'learning_logs:index' %}">Learning Log</a></h1>
        <form method="post" action="{% url 'users:register' %}" class=" w-[90%] flex-auto p-[5%] rounded-3xl">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <button type="submit" class="bg-black text-white rounded-full px-9 py-1 hover:bg-white hover:text-black mt-5 flex-auto">Register</button>
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
        </form> 
        <p class="text-red-800 font-semibold flex-auto"><a href="{% url 'users:login' %}">Already Registered? Login Here.</a></p>
            <div class="flex gap-x-4 flex-auto">
                <a href="https://www.linkedin.com/in/divesh-kshirsagar?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BoYCcCnxpQl2Oq5acNebkWg%3D%3D"><img src="/static/img/linkedin_social_icon.png" alt="linkedin-icon" class="size-8 "></a>
                <a href="#"><img src="/static/img/youtube_icon.png" alt="youtube-icon" class="size-8"></a>
                <a href="#"><img src="/static/img/instagram_icon.png" alt="instagram-icon" class="size-8"></a>
            </div>
    </section>   
</body>
</html>
